<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Document</title>
</head>
<body>
<!-- Conteúdo -->
<div class="container">
<h1> Sobre Nós </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
    <img src="../assets/imagens/doce1.png" width=100% height=100%>

</div>
<div class="col-md-6">
    <p>O rocambole é um prato culinário popular em muitas partes do mundo, conhecido por sua versatilidade e sabor delicioso. Essa iguaria é composta por uma fina camada de massa, que pode ser doce ou salgada, recheada com uma variedade de ingredientes que vão desde doces, como chocolate e creme de confeiteiro, até recheios salgados, como queijos e presuntos.</p>
    <p> Ingredientes:

      Para a massa:

      4 ovos
      4 colheres de sopa de açúcar
      4 colheres de sopa de farinha de trigo
      2 colheres de sopa de chocolate em pó
      1 colher de chá de fermento em pó
      Uma pitada de sal
      Para o recheio:

      200g de creme de avelã (Nutella ou similar)
      Frutas frescas (opcional, para decorar) Pré-aqueça o forno a 180°C. Forre uma assadeira retangular (aproximadamente 30x40 cm) com papel manteiga, untando levemente o papel.

      Separe as claras das gemas dos ovos em duas tigelas diferentes.

      Na tigela com as gemas, adicione o açúcar e bata até obter uma mistura clara e cremosa.

      Em outra tigela, bata as claras em neve com uma pitada de sal até que fiquem firmes.

      Misture delicadamente as claras em neve com a mistura de gemas e açúcar.




       </p>

</div>
</div>
</div>
<h1> História</h1>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <p>A história dos restaurantes brasileiros é rica e diversificada, e ela se entrelaça com a cultura e a evolução social do Brasil ao longo dos anos. Aqui, vou fornecer um breve resumo da história dos restaurantes no Brasil.</p>
            <p>Época Colonial: Durante o período colonial, não havia exatamente restaurantes como os conhecemos hoje. No entanto, havia casas de pasto e tabernas onde as pessoas podiam se reunir para comer e beber. Geralmente, esses estabelecimentos serviam pratos simples e eram frequentados por viajantes, comerciantes e moradores locais.

              Século XIX: Com a urbanização crescente do Brasil no século XIX, surgiram os primeiros estabelecimentos que se assemelhavam mais aos restaurantes modernos. Eles eram frequentados pela classe alta e pela elite intelectual, que eram influenciadas pela culinária europeia. Os cardápios eram fortemente inspirados na culinária francesa, e os pratos eram elaborados e requintados.</p>
            </div>

        <div class="col-md-6">
            <img src="../assets/imagens/rest.jpg" width=100% height=78%>
        </div>
</div>
</div>
</div>
</body>
</html>
