<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404 - Página não encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 36px;
            color: #333;
        }

        p {
            font-size: 18px;
            color: #777;
        }

        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Erro 404 - Página não encontrada</h1>
    <p>Lamentamos, mas a página que você está procurando não foi encontrada.</p>
    <p>Por favor, verifique o URL digitado ou clique no botão abaixo para retornar à página inicial:</p>
    <a href="http://localhost:4200/about">Página Inicial</a>
</body>
</html>
