<div class="container">
  <h1>Política de Privacidade </h1>

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
 <p>  Política de Privacidade do Restaurante [Sabores do Brasil]</p>

   <p>Última atualização: [18/09/2023]</p>

    <p>Bem-vindo ao [Sabores do Brasil]! Nós valorizamos a sua privacidade e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta política de privacidade descreve como coletamos, usamos e protegemos suas informações quando você utiliza nossos serviços.</p>

    <p>1. Informações Coletadas

    Coletamos informações pessoais quando você faz uma reserva, pede um serviço de entrega, utiliza nosso site ou interage conosco de qualquer outra forma. As informações que podemos coletar incluem, mas não se limitam a:

    Nome
    Endereço de e-mail
    Número de telefone
    Endereço
    Preferências de comida
    Informações de pagamento (por exemplo, cartão de crédito)
    2. Como Usamos Suas Informações

    Utilizamos suas informações pessoais para os seguintes fins:

    Processar suas reservas e pedidos
    Fornecer informações sobre nossos serviços e ofertas especiais
    Melhorar nossos serviços e atender às suas preferências
    Garantir a segurança de nossos clientes e de nosso estabelecimento
    Cumprir obrigações legais e regulatórias
    3. Compartilhamento de Informações

    Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer os serviços solicitados por você ou quando exigido por lei.

    4. Segurança de Dados

    Tomamos medidas razoáveis para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação. No entanto, lembre-se de que nenhum sistema é completamente seguro, e não podemos garantir a segurança absoluta de suas informações.

    5. Cookies e Tecnologias Semelhantes

    Nosso site pode utilizar cookies e tecnologias semelhantes para melhorar a sua experiência de navegação. Você pode gerenciar as configurações de cookies em seu navegador.

    6. Seus Direitos

    Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Para exercer esses direitos ou para fazer perguntas sobre nossas práticas de privacidade, entre em contato conosco através dos dados fornecidos abaixo.

    7. Contato

    Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco:

    [Nome do Restaurante]
    [Endereço]
    [Endereço de E-mail]
    [Número de Telefone]

    Ao utilizar nossos serviços, você concorda com os termos desta política de privacidade. Reservamo-nos o direito de atualizar esta política periodicamente. Quaisquer alterações serão publicadas em nosso site.

    Data da última atualização: [Data da última atualização]</p>



